[submodule "QuestCameraLib"]
	path = QuestCameraLib
	url = https://github.com/Sentient-X/QuestCameraLib.git
[submodule "quest-3d-reconstruction"]
	path = quest-3d-reconstruction
	url = https://github.com/samuelm2/quest-3d-reconstruction.git
